@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
    background: linear-gradient(to bottom, #FAF3E0, #dcc0f5);
    color: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 70px;
}   

.mobile-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  background: #8143ab4b; /* roxo */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1000;
}

.linha-do-tempo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  0;
  padding: 0 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.passo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}


.icone-circulo {
  background-color: #F2E1D8;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 5px;
  transition: all 0.3s ease;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passo:hover .icone-circulo {
  background-color: #7b2fd1;
  transform: scale(1.1);
  color: white;
}

.passo p {
  font-size: 0.9rem;
  color: #444;
  margin: 0;
}