@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #1d142e;
}

header {
  background-color: #8143ab;
  color: white;
  padding: 1rem;
  text-align: center;
}

.search-bar {
  margin-top: 0.5rem;
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}

.filter-bar {
  display: flex;
  justify-content: space-around;
  background-color: #ebebeb;
  padding: 0.5rem;
  overflow-x: auto;
}

.filter-bar button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #8143ab;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-bar .active,
.filter-bar button:hover {
  background-color: #8143ab;
  color: white;
}

.content-section {
  padding: 1rem;
}

.card {
  background-color: #f2e1d8;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

footer {
  background-color: #ebebeb;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
}

.bottom-nav a {
  text-decoration: none;
  color: #8143ab;
  font-weight: bold;
}

.bottom-nav .active {
  border-bottom: 2px solid #8143ab;
}


a{
  list-style: none;
  text-decoration: none;

}

a:hover{
  color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Layout do container */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.mobile-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  background: #bd8adf; /* roxo */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1000;
  
}

.linha-do-tempo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  0;
  padding: 0 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.passo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}


/*----------------------"Icone de INICIO"------------------------------------*/
.icone-circulo-home a{
  background-color: #7b2fd1;
  color: #f2e1d8;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 5px;
  transition: all 0.3s ease;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
/*---------------------------------------------------------------------------*/

/*--------------------------"Icone das DICAS"-------------------------------*/
.icone-circulo-idea a{
  background-color: #f2e1d8;
  color: #7b2fd1;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 5px;
  transition: all 0.3s ease;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
.passo:hover .icone-circulo-idea a{
  background-color: #7b2fd1;
  transform: scale(1.1);
  color: white;
}
/*--------------------------------------------------------------------------*/

/*---------------------"Icone do QUESTIONARIO" -----------------------------*/
.icone-circulo-library a{
  background-color: #f2e1d8;
  color: #7b2fd1;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 5px;
  transition: all 0.3s ease;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
.icone-circulo-library a:hover{
  background-color: #7b2fd1;
  transform: scale(1.1);
  color: white;
}
/*-------------------------------------------------------------------------*/

/*--------------------------"Icone do PERFIL--------------------------------*/
.icone-circulo-profile a{
  background-color: #f2e1d8;
  border-radius: 50%;
  color:#7b2fd1;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 5px;
  transition: all 0.3s ease;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
.icone-circulo-profile a:hover{
  background-color: #7b2fd1;
  transform: scale(1.1);
  color: white;
}
/*--------------------------------------------------------------------------*/

.passo p {
  font-size: 0.9rem;
  color: #383838;
  margin: 0;
}